# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.SoliderSimulatorGame.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\scryptan\UnityProjects\SoliderSimulatorGame\.idea\.idea.SoliderSimulatorGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
